<div class="history-element text-center my-5 border-b-2">
    <table class="w-full flex flex-col flex-no-wrap sm:bg-white rounded-lg overflow-hidden shadow-lg mb-5 inline-table w-full">
        <thead class="bg-gray-50">
            <tr>
                <th class="w-1/3 p-3">Patients</th>
                <th class="w-1/3 p-3">Drugs</th>
                <th class="w-1/3 p-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-sm md:text-base">
                <td class="text-center w-1/3 p-3"><span class="break-words break-all">{{history.patients}}</span></td>
                <td class="text-center w-1/3 p-3">
                    <app-drugs [drugs]="history.drugs"></app-drugs>
                </td>
                <td class="w-1/3 p-3"><button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded" (click)="hideShowReport()">{{ reportDisplayed ? 'Hide Simulation' : 'Show Simulation'}}</button></td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="!!reportDisplayed && history.patientsBeforeTreatment && history.patientsAfterTreatment" class="w-full sm:bg-white rounded-lg overflow-hidden shadow-lg mb-5">
        <thead class="bg-gray-50">
            <tr>
                <th class="w-1/2 p-3">Before Simulation</th>
                <th class="w-1/2 p-3">After Simulation</th>
            </tr>
        </thead>
        <tbody>
            <tr class="divide-x-2">
                <td class="text-center w-1/2 p-0">
                    <app-report [report]="history.patientsBeforeTreatment" class="w-full inline-table"></app-report>
                </td>
                <td class="text-center w-1/2 p-0">
                    <app-report [report]="history.patientsAfterTreatment" class="w-full inline-table"></app-report>
                </td>
            </tr>
        </tbody>
    </table>
</div>
